{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Pending User plugin for Craft CMS 3.x
 *
 * Pending User Settings.twig
 *
 * @author    Andrea DeMers
 * @copyright Copyright (c) 2020 Andrea DeMers
 * @link      https://andreademers.com
 * @package   PendingUser
 * @since     2.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("ademers\\pendinguser\\assetbundles\\pendinguser\\PendingUserAsset") %}

<h2>Allowed Domains</h2>

{{ forms.textField({
    first: true,
    label: 'Allowed Domains',
    instructions: 'To automatically activate user accounts with emails containing certain domain names, enter them below separated by commas. Optional.',
    name: 'allowedDomains',
    placeholder:'example.com, foo.com',
    value: settings.allowedDomains,
    autofocus: true,
    errors: settings.getErrors('allowedDomains')
}) }}

<h2>User Registration Email</h2>

<p>Email sent to user when they register via a User Registration form, thereby creating a new user account.</p>

<p>To customize the email subject and body, go to <b>Pending User: when a new user registers</b> in <b>Utilities > <a href="{{ siteUrl }}admin/utilities/system-messages">System Messages</a></b>.</p>

<h2>User Activation Email</h2>

<p>Email sent to user when their user account is activated.</p>

<p>To customize the email subject and body, go to <b>Pending User: when a user account is activated</b> in <b>Utilities > <a href="{{ siteUrl }}admin/utilities/system-messages">System Messages</a></b>.</p>

<h2>Moderator Notification Email</h2>

<p>To customize the email subject and body, go to <b>Pending User: when the Moderator Email Notification setting is enabled</b> in <b>Utilities > <a href="{{ siteUrl }}admin/utilities/system-messages">System Messages</a></b>.</p>

{{ forms.lightswitchField({
    label: 'Moderator Email Notification',
    instructions: 'If enabled, a moderator will get an email when a user registers via a User Registration form, thereby creating a new user account.',
    name: 'notifyModerator',
    on: settings.notifyModerator
}) }}

{{ forms.textField({
    label: 'Moderator Email Addresses',
    name: 'moderatorEmailAddresses',
    instructions: 'Required when Moderator Email Notification is enabled. Separate multiple email addresses with commas. Defaults to the Craft System Email Address.',
    value: settings.moderatorEmailAddresses,
    errors: settings.getErrors('moderatorEmailAddresses')
}) }}
